{% extends 'base.html' %}
{% load humanize %}
{% block content %}
<main id="main">
  
  <!-- ======= Intro Single ======= -->
  <section class="intro-single">
    <div class="container">
      <div class="row">
        <div class="col-md-12 col-lg-8">
          <div class="title-single-box">
              <h1 class="title-single">Our Amazing Properties</h1>
              <span class="color-text-a">Grid Properties</span>
            </div>
          </div>
          <div class="col-md-12 col-lg-4">
            <nav aria-label="breadcrumb" class="breadcrumb-box d-flex justify-content-lg-end">
              <ol class="breadcrumb">
                <li class="breadcrumb-item">
                  <a href="#">Home</a>
                </li>
                <li class="breadcrumb-item active" aria-current="page">
                  Properties Grid
                </li>
              </ol>
            </nav>
          </div>
        </div>
      </div>
    </section><!-- End Intro Single-->
    <!-- ======= Property Grid ======= -->
    <section class="property-grid grid">
      <div class="container">
        <div class="row">
          <div class="col-sm-12">
            <div class="grid-option">
              <form>
                <select class="custom-select">
                  <option selected>All</option>
                  <option value="1">New to Old</option>
                  <option value="2">For Rent</option>
                  <option value="3">For Sale</option>
                </select>
              </form>
            </div>
          </div>
          {% if listings %}
            {% for listing in listings%}
              <div class="col-md-4">
                <div class="card-box-a card-shadow">
                  <div class="img-box-a">
                    <img src="{{listing.photo_main.url}}" alt="" class="img-a img-fluid">
                  </div>
                  <div class="card-overlay">
                    <div class="card-overlay-a-content">
                      <div class="card-header-a">
                        <h2 class="card-title-a">
                          <a href="{% url 'listing' listing.id %}">{{listing.title}}
                            <br />{{listing.address}} {{listing.city}} {{listing.state}}</a>
                        </h2>
                      </div>
                      <div class="card-body-a">
                        <div class="price-box d-flex">
                          <span class="price-a">{{listing.status}} | KES {{ listing.price | intcomma }}</span>
                        </div>
                        <a href="{% url 'listing' listing.id %}" class="link-a">Click here to view
                          <span class="bi bi-chevron-right"></span>
                        </a>
                      </div>
                      <div class="card-footer-a">
                        <ul class="card-info d-flex justify-content-around">
                          <li>
                            <h4 class="card-info-title">Area</h4>
                            <span>{{listing.area}}m
                              <sup>2</sup>
                            </span>
                          </li>
                          <li>
                            <h4 class="card-info-title">Beds</h4>
                            <span>{{listing.bedrooms}}</span>
                          </li>
                          <li>
                            <h4 class="card-info-title">Baths</h4>
                            <span>{{listing.bathrooms}}</span>
                          </li>
                          <li>
                            <h4 class="card-info-title">Garages</h4>
                            <span>{{listing.garage}}</span>
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            {% endfor %}
          {% else %}
            <div class="col-md-12">
              <h1>No Properties Listed Yet</h1>
            </div>
          {% endif %}
        </div>
        <div class="row">
          <div class="col-sm-12">
            {% if listings.has_other_pages %}
            <nav class="pagination-a">
              <ul class="pagination justify-content-end">
                {% if listings.has_previous %}
                  <li class="page-item">
                    <a class="page-link" href="?page={{listings.previous_page_number}}" tabindex="-1">
                      <span class="bi bi-chevron-left"></span>
                    </a>
                  </li>
                {% else %}
                  <li class="page-item disabled">
                    <a class="page-link" href="#" tabindex="-1">
                      <span class="bi bi-chevron-left"></span>
                    </a>
                  </li>
                {% endif %}
                {% for i in listings.paginator.page_range %}
                  {%if listings.number == i %}
                    <li class="page-item active">
                      <a class="page-link" href="#">{{i}}</a>
                    </li>
                  {% else %}
                    <li class="page-item">
                      <a class="page-link" href="?page={{i}}">{{i}}</a>
                    </li>
                  {% endif%}
                {% endfor %}
                {% if listings.has_next %}
                  <li class="page-item">
                    <a class="page-link" href="?page={{listings.next_page_number}}" tabindex="-1">
                      <span class="bi bi-chevron-right"></span>
                    </a>
                  </li>
                {% else %}
                  <li class="page-item disabled">
                    <a class="page-link" href="#" tabindex="-1">
                      <span class="bi bi-chevron-right"></span>
                    </a>
                  </li>
                {% endif %}
              </ul>
            </nav>
            {% endif %}
          </div>
        </div>
      </div>
    </section><!-- End Property Grid Single-->

  </main><!-- End #main -->

{% endblock content %}

